<div class="container">

    {{>sidebar_leerling}}

    <div class="main-container dossier">


        <div class="welcome-label">
            <h1>Details</h1>
        </div>

        <div class="container-dossier">


       

            <div class="detail-card">
                <div class="detail-card--label">
                        <h3>Personalia</h3>
                </div>
                <div class="detail-card--information">

                    <div class="detail-card--title">
                        <p>Naam</p>
                          <p>Geboren:</p>
                            <p>Nationaliteit:</p>


                    </div>
                   
                    <div class="detail-card--text">
                        <p>{{ meta.firstname }} {{ meta.lastname }} </p>
                        <p>{{ meta.birthday }} {{ meta.birthplace }} </p>
                        <p>{{ meta.nationality }} </p>
                        <p>{{ meta.gender }} </p>
                    </div>
                </div>
            </div>

             <div class="detail-card">
                <div class="detail-card--label">
                        <h3>Domiciliegegevens</h3>
                </div>
                <div class="detail-card--information">

                    <div class="detail-card--title">
                        <p>Naam</p>
                          <p>Geboren:</p>
                            <p>Nationaliteit:</p>


                    </div>
                   
                    <div class="detail-card--text">
                        <p>{{ meta.firstname }} {{ meta.lastname }} </p>
                        <p>{{ meta.birthday }} {{ meta.birthplace }} </p>
                        <p>{{ meta.nationality }} </p>
                        <p>{{ meta.gender }} </p>
                    </div>
                </div>
            </div>

          
    </div>
</div>