<div class="container">
{{#ifEquals user.role.label 'Leerling'}}
    {{>sidebar_leerling}}
{{/ifEquals}}
{{#ifEquals user.role.label 'Lesgever'}}
    {{>sidebar_lesgever}}
{{/ifEquals}}
    <div class="main-container dossier">


        <div class="welcome-label">
            <h1>Bekijk je dossier!</h1>
        </div>

        <div class="container-dossier">
            <div class="detail-card">
                <div class="detail-card--label">
                    <a href="/details">
                        <h3>Personalia</h3>
                    </a>
                </div>
                <div class="detail-card--information">
                    <div class="detail-card--profile-picture">
                        <img src="{{ meta.avatar }}" alt="profile picture">
                    </div>
                    <div class="detail-card--text">
                        <strong>Naam:</strong> <span>{{ meta.firstname }} {{ meta.lastname }} </span>
                        <strong>Klas:{{#each classrooms}}
                            <span>{{ this.label }}</span>
                        {{/each}}</strong>
                        <strong>Telefoonnummer:</strong> <span>{{ meta.phone }} </span>
                        <strong>Adres:</strong> <span>{{ meta.address }} </span>
                        <strong>Geboortedatum/plaats:</strong> <span>{{ meta.birthday }}, {{ meta.birthplace }} </span>
                        <strong>Nationaliteit:</strong> <span>{{ meta.nationality }} </span>
                        <strong>Geslacht:</strong> <span>{{ meta.gender }} </span>
                        <strong>Ouders/Voogd:</strong> <span>{{ meta.parent }} </span>
                        <strong>Bankvoorkeur:</strong> <span>{{ meta.bankpreference }}</span>
                        <strong>Vervoer:</strong> <span>{{ meta.transport }} </span>
                        <strong>Burgelijke staat:</strong> <span>{{ meta.family }} </span>
                        <strong>Religie:</strong> <span>{{ meta.religion }} </span>
                    </div>
                </div>
            </div>
            <form onsubmit="updateUser(event)">
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" value="{{ user.password }}" />
  </div>
  <div class="form-actions">
    <button type="submit" class="save-button">Save Changes</button>
  </div>
</form>

    </div>
</div>

    {{>updateImage}}


<script>
    function updateUser(event) {
  event.preventDefault();
  const userId = "{{ user.id }}";
  const password = document.getElementById("password").value;

  fetch(`/users/${userId}`, {
    method: "put",
    body: JSON.stringify({
      password: password
    }),
    headers: {
      "Content-Type": "application/json"
    }
  })
  .then(response => response.json())
  .then(data => {
    // handle success response from the server
    window.location.reload();
    console.log(data);
  })
  .catch(error => {
    // handle error response from the server
    console.error(error);
  });
}

</script>