<div class="container">


   {{>sidebar_directeur}}
   <div class="column-class">
      <div class="container-students">
    <h1>Leerkrachten</h1>
<ul class="students-list">
  {{#each classroomTeacher.users}}
    <li>
      <a class="link-student" href="/user/{{this.id}}">
        <img src="{{this.meta.avatar}}" alt="">
        {{this.meta.firstname}} {{this.meta.lastname}}
      </a>
<form action="/users/{{this.id}}?_method=DELETE" method="post" onsubmit="return confirmDelete()">
  <input class="btn-out" type="submit" value="Uitschrijven">
</form>

    </li>
  {{/each}}
</ul>

</div>
   <div class="container-students">
    <h1>Studenten</h1>
<ul class="students-list">
  {{#each classroomStudents.users}}
    <li>
      <a class="link-student" href="/user/{{this.id}}">
        <img src="{{this.meta.avatar}}" alt="">
        {{this.meta.firstname}} {{this.meta.lastname}}
      </a>
      <!-- Rectangular switch -->
      <label class="switch"> <!-- if present, add checked attribute to inputchecbkox -->
        <input data-id="{{this.id}}" type="checkbox" class="toggleStatus" name="status" value="present">
        <span class="slider"></span>
      </label>
      <form action="/users/{{this.id}}?_method=DELETE" method="post" onsubmit="return confirmDelete()">
        <input class="btn-out" type="submit" value="Uitschrijven">
      </form>
    </li>
  {{/each}}
</ul>
</div>
</div>
</div>

<script>
  function confirmDelete() {
    return confirm("Weet je zeker dat je deze student wilt uitschrijven?");
  }
const toggles = document.querySelectorAll('.toggleStatus');

toggles.forEach(toggle => {
  const userId = toggle.dataset.id;
    console.log("it's here", userId);

  const isChecked = localStorage.getItem(`attendance_${userId}`) === 'true';

  toggle.checked = isChecked;

  toggle.addEventListener('change', async (e) => {
    const isChecked = toggle.checked;
    const status = isChecked ? 'present' : 'absent';

    const currentDate = new Date().toISOString().split('T')[0];

    const data = {
      status: status,
      date: currentDate
    };

    try {
      const response = await fetch(`/attendance/${userId}`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      });

      if (response.ok) {
        const updatedAttendance = await response.json();
        console.log(updatedAttendance);
      } else {
        console.log('Attendance update failed');
      }
    } catch (error) {
      console.error('An error occurred during the attendance update:', error);
    }

    localStorage.setItem(`attendance_${userId}`, isChecked);
  });
});

</script>