<div class="container">

    {{>sidebar_directeur}}


    <div class="main-container dossier">


        <div class="welcome-label">
            <h1>Dossier!</h1>
        </div>

        <div class="container-dossier">


            <div class="icon-card">
                <div class="icon-card--label">
                    <a href="/rapport">
                        <h3>Rapport</h3>
                    </a>
                </div>
                <div class="icon-card--img">
                    <img src="/images/icons/rapport.png" alt="nederlands" />
                </div>
            </div>

            <div class="icon-card">
                <div class="icon-card--label">
                    <a href="/aankondigingen">
                        <h3>Aankondigingen</h3>
                    </a>
                </div>
                <div class="icon-card--img">
                    <img src="/images/icons/aankondigingen.png" alt="nederlands" />
                </div>
            </div>

            <div class="icon-card">
                <div class="icon-card--label">
                    <a href="/details">
                        <h3>Details</h3>
                    </a>
                </div>
                <div class="icon-card--img">
                    <img src="/images/icons/details.png" alt="details" />
                </div>
            </div>

            <div class="detail-card">
                <div class="detail-card--label">
                    <a href="/details">
                        <h3>Personalia</h3>
                    </a>
                </div>
                <div class="detail-card--information">
                    <div class="detail-card--profile-picture">
                        <img src="{{ meta.avatar }}" alt="profile picture">
                    </div>
                    <div class="detail-card--text">
                        <strong>Naam:</strong> <span>{{ meta.firstname }} {{ meta.lastname }} </span>
                        <strong>Klas:{{#each classrooms}}
                            <span>{{ this.label }}</span>
                        {{/each}}</strong>
                        <strong>Telefoonnummer:</strong> <span>{{ meta.phone }} </span>
                        <strong>Adres:</strong> <span>{{ meta.address }} </span>
                        <strong>Geboortedatum/plaats:</strong> <span>{{ meta.birthday }}, {{ meta.birthplace }} </span>
                        <strong>Nationaliteit:</strong> <span>{{ meta.nationality }} </span>
                        <strong>Geslacht:</strong> <span>{{ meta.gender }} </span>
                        <strong>Ouders/Voogd:</strong> <span>{{ meta.parent }} </span>
                        <strong>Bankvoorkeur:</strong> <span>{{ meta.bankpreference }}</span>
                        <strong>Vervoer:</strong> <span>{{ meta.transport }} </span>
                        <strong>Burgelijke staat:</strong> <span>{{ meta.family }} </span>
                        <strong>Religie:</strong> <span>{{ meta.religion }} </span>
                    </div>
                </div>
            </div>

                            <div class="detail-card">
                <div class="detail-card--label">
                    <a href="/details">
                        <h3>Afwezigheden</h3>
                    </a>
                </div>
                <div class="detail-card--information">
                    <div class="detail-card--text">
                {{#each absences}}
                <ul>
                    <li><strong>Reden:</strong> {{this.reason}} <strong>Datum:</strong> {{this.date}}</li>
                </ul>
                {{/each}}
                    </div>
                </div>
            </div>

            <div class="detail-card">
                <div class="detail-card--label">
                    <a href="/details">
                        <h3>Laatste aankondigingen deze maand</h3>
                    </a>
                </div>

             <div class="news-card--information">
                <div>
                    <img src="/images//icons//megaphone.png" alt="megaphone">
                </div>
                <div class="news-card--title">
                     <h4>Les Uitval</h4>
                     <p> De les van aanstaande maandag aanstaande valt uit vanwege ziekte...</p>
                    </div>
               
                <div class="news-card--title">
                     <h4>Geplaatst op:</h4>
                     <p> 12 mei 2023 19:00</p>
                    </div>
            </div>
        </div>
    </div>
</div>



<div class="test">
    <select name="classrooms">classrooms: 
    {{#each allclassrooms}}
    <option value="{{ this.id }}">{{ this.label }}</option>
    {{/each}}
</select>
<button id="test" type="submit" class="save-button add-user-to-class" data-id="{{ person.id }}">add gebruiker</button>
</div>
<form action="/feedback/{{ person.id }}" method="post">
    <input name="feedback"></input>
    <button id="add" type="submit" class="save-button add-user-to-class" data-id="{{ person.id }}">Feedback sturen</button>
</form>
<div class="test">
    <select name="classroomChange">
    {{#each allclassrooms}}
    <option value="{{ this.id }}">{{ this.label }}</option>
    {{/each}}
</select>
<button id="change" type="submit" class="save-button add-user-to-class" data-id="{{ person.id }}">klas veranderen</button>
</div>


<script>
    // function add user to classroom
    const addClassroom = document.getElementById('test');
    addClassroom.addEventListener('click', function() {
        const classroomId = document.querySelector('select[name="classrooms"]').value;
        const userId = addClassroom.getAttribute('data-id');
        console.log(classroomId);
        console.log(userId);
        fetch(`/users/addtoclass`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    classId: classroomId,
                    userId: userId
                })
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    });

        const changeClassroom = document.getElementById('change');
    changeClassroom.addEventListener('click', function() {
        const classroomId = document.querySelector('select[name="classroomChange"]').value;
        const userId = changeClassroom.getAttribute('data-id');
        console.log(classroomId);
        console.log(userId);
        fetch(`/users/changeclass`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    classId: classroomId,
                    userId: userId
                })
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    });
    
const addFeedback = document.getElementById('add');
addFeedback.addEventListener('click', function(event) {
  event.preventDefault();
  const userId = addFeedback.getAttribute('data-id');
  const result = document.querySelector('input[name="feedback"]').value;
  console.log(result);
  console.log(userId);
  fetch(`/feedback/${userId}`, {
      method: 'POST',
      headers: {
          'Content-Type': 'application/json'
      },
      body: JSON.stringify({
          content: result,
      })
  })
  .then(response => response.json())
  .then(data => {
      window.location.reload();
  })
  .catch((error) => {
      console.error('Error:', error);
  });
});

</script>

 {{!-- <div class="news-card">
             <div class="detail-card--label">
               <a href="/details">
                 <h3>Laatste aankondigingen deze maand</h3>
               </a>
        </div>
                    
                    
                    <div class="news-card--information">
                        <img src="/images//icons//megaphone.png" alt="megaphone">
                     <p>Les Uitval</p>
                     <p> De les van aanstaande maandag aanstaande valt uit vanwege ziekte...</p>
                    </div>
                    <div class="detail-card--text">
                        <p>{{ meta.firstname }} {{ meta.lastname }} </p>
                        <p>{{ meta.birthday }} {{ meta.birthplace }} </p>
                        <p>{{ meta.nationality }} </p>
                        <p>{{ meta.gender }} </p>
                    </div>

                </div> --}}