<div class="container">
    {{#ifEquals user.role.label 'Directeur'}}
        {{>sidebar_directeur}}
    {{/ifEquals}}
    {{#ifEquals user.role.label 'Begeleider'}}
                {{>sidebar_begeleider}}
    {{/ifEquals}}

    <div class="contain">
        <h1>Klassen</h1>
    <ul class="list-classes">
            {{#each certainClass.classrooms}}
            <li>
                {{#ifEquals ../user.role.label 'Directeur'}}
        <a href="/alleklassen/{{ this.id }}">{{this.label}}</a>
        {{/ifEquals}}
        {{#ifEquals ../user.role.label 'Begeleider'}}
        <a href="/begeleider_klassen/{{ this.id }}">{{this.label}}</a>
        {{/ifEquals}}
            </li>
                {{/each}}
    </ul>
    {{#ifEquals user.role.label 'Directeur'}}
        <div class="container-sub">
    <select name="classrooms">
    {{#each allclassrooms}}
    <option value="{{ this.id }}">{{ this.label }}</option>
    {{/each}}
</select>
<button id="addsubject" type="submit" class="save-button add-user-to-class button-base" data-id="{{ subject.id }}">Vak toevoegen aan klas</button>
</div>
{{/ifEquals}}
</div>
</div>

<script>
        const addClassroom = document.getElementById('addsubject');
        addClassroom.addEventListener('click', function() {
        const classroomId = document.querySelector('select[name="classrooms"]').value;
        const subjectId = addClassroom.getAttribute('data-id');
        console.log(classroomId);
        fetch(`/vakken/addtoclass`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    classId: classroomId,
                    subjectId: subjectId
                })
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    });
</script>