
<sidebar>
  <a href="/dossier">
  <ul class="sidebar">
    <li class="sidebar__item">
   <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M8.00152 8C8.00152 5.79086 9.79305 4 12.003 4C14.213 4 16.0045 5.79086 16.0045 8C16.0045 10.2091 14.213 12 12.003 12C10.9418 12 9.92396 11.5786 9.17353 10.8284C8.4231 10.0783 8.00152 9.06087 8.00152 8ZM19.896 18.55L18.4555 15.66C17.9465 14.6408 16.904 13.9978 15.7645 14H8.24161C7.10207 13.9978 6.05958 14.6408 5.55059 15.66L4.11004 18.55C3.95402 18.8595 3.96945 19.2277 4.15082 19.5231C4.3322 19.8185 4.65366 19.999 5.00038 20H19.0057C19.3524 19.999 19.6739 19.8185 19.8552 19.5231C20.0366 19.2277 20.052 18.8595 19.896 18.55Z" fill="#CD8050"/>
</svg>

</svg>

      <div class="sidebar_personalia">
        <strong>{{ meta.firstname }} {{  meta.lastname }}</strong>
      </div>
      </a>
    </li>

    <li class="sidebar__item">
         <li
    {{#ifEquals 'overzicht' actSidebar }}
      class="sidebar__item active"
      {{ else }}
      class="sidebar__item"
    {{/ifEquals}}
    >
      <a href="/">
      <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M17 18C17.2652 18 17.5196 17.8946 17.7071 17.7071C17.8946 17.5196 18 17.2652 18 17V11H19.5C19.6326 11 19.7598 10.9473 19.8536 10.8536C19.9473 10.7598 20 10.6326 20 10.5V8.41C19.9989 8.14766 19.8947 7.89626 19.71 7.71L12.29 0.29C12.1037 0.105256 11.8523 0.00110462 11.59 0H8.41C8.14766 0.00110462 7.89626 0.105256 7.71 0.29L0.29 7.71C0.105256 7.89626 0.00110462 8.14766 0 8.41V10.5C0 10.6326 0.0526785 10.7598 0.146447 10.8536C0.240215 10.9473 0.367392 11 0.5 11H2V17C2 17.2652 2.10536 17.5196 2.29289 17.7071C2.48043 17.8946 2.73478 18 3 18H17ZM4 16V9.5C4 9.36739 3.94732 9.24021 3.85355 9.14645C3.75979 9.05268 3.63261 9 3.5 9H2.05C2.08254 8.82623 2.16609 8.66609 2.29 8.54L8.83 2H11.17L17.71 8.54C17.8523 8.65932 17.9537 8.82017 18 9H16.5C16.3674 9 16.2402 9.05268 16.1464 9.14645C16.0527 9.24021 16 9.36739 16 9.5V16H4ZM12 8C12 8.39556 11.8827 8.78224 11.6629 9.11114C11.4432 9.44004 11.1308 9.69638 10.7654 9.84776C10.3999 9.99913 9.99778 10.0387 9.60982 9.96157C9.22186 9.8844 8.86549 9.69392 8.58579 9.41421C8.30608 9.13451 8.1156 8.77814 8.03843 8.39018C7.96126 8.00222 8.00087 7.60009 8.15224 7.23463C8.30362 6.86918 8.55996 6.55682 8.88886 6.33706C9.21776 6.1173 9.60444 6 10 6C10.5304 6 11.0391 6.21071 11.4142 6.58579C11.7893 6.96086 12 7.46957 12 8ZM6.05 13.28L6.78 11.83C6.90434 11.5809 7.09554 11.3714 7.33219 11.2248C7.56885 11.0782 7.84162 11.0004 8.12 11H11.88C12.1584 11.0004 12.4312 11.0782 12.6678 11.2248C12.9045 11.3714 13.0957 11.5809 13.22 11.83L14 13.28C14.0374 13.3563 14.0547 13.4409 14.0503 13.5257C14.046 13.6106 14.02 13.6929 13.975 13.765C13.93 13.8371 13.8673 13.8964 13.7929 13.9376C13.7186 13.9787 13.635 14.0002 13.55 14H6.55C6.4609 14.0094 6.37091 13.9947 6.28946 13.9573C6.208 13.92 6.13806 13.8615 6.08696 13.7879C6.03585 13.7144 6.00546 13.6284 5.99896 13.539C5.99246 13.4497 6.01009 13.3602 6.05 13.28Z" fill="#CD8050"/>
</svg>

        <strong>Overzicht</strong>
      </a>
    </li>
    <li
    {{#ifEquals 'vakken' actSidebar }}
      class="sidebar__item active"
      {{ else }}
      class="sidebar__item"
    {{/ifEquals}}
    >
      <a href="/vakken">
       <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M22.51 12.87L18.91 5.13C18.5763 4.43933 17.877 4.00033 17.11 4H15.5C15.2239 4 15 4.22386 15 4.5V5.5C15 5.77614 15.2239 6 15.5 6H17.11L19 10.11C16.8787 9.65427 14.7084 10.636 13.65 12.53C13.1641 12.1949 12.5902 12.0105 12 12C11.4013 12.0058 10.8187 12.1942 10.33 12.54C9.27472 10.6529 7.1167 9.669 5 10.11L6.89 6H8.5C8.77614 6 9 5.77614 9 5.5V4.5C9 4.22386 8.77614 4 8.5 4H6.89C6.11117 3.99626 5.401 4.44499 5.07 5.15L1.47 12.89C1.15917 13.5499 0.99864 14.2706 1 15C1 17.7614 3.23858 20 6 20C8.76143 20 11 17.7614 11 15C11 14.4477 11.4477 14 12 14C12.5523 14 13 14.4477 13 15C13 17.7614 15.2386 20 18 20C20.7614 20 23 17.7614 23 15C22.9981 14.2623 22.8306 13.5344 22.51 12.87ZM6 18C4.34315 18 3 16.6569 3 15C3 13.3431 4.34315 12 6 12C7.65686 12 9 13.3431 9 15C9 16.6569 7.65686 18 6 18ZM18 18C16.3431 18 15 16.6569 15 15C15 13.3431 16.3431 12 18 12C19.6569 12 21 13.3431 21 15C21 16.6569 19.6569 18 18 18Z" fill="#CD8050"/>
</svg>

        <strong>Vakken</strong>
      </a>
    </li>

    {{#each class}}
        <li
    {{#ifEquals 'dossier' actSidebar }}
      class="sidebar__item active"
      {{ else }}
      class="sidebar__item"
    {{/ifEquals}}
    >
      
    <a href="/klas/{{this.id}}">
       <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.7299 0.720894C13.6581 0.720894 14.5484 1.08964 15.2047 1.74602C15.8611 2.4024 16.2299 3.29264 16.2299 4.22089C16.2299 5.14915 15.8611 6.03939 15.2047 6.69577C14.5484 7.35214 13.6581 7.72089 12.7299 7.72089C11.8016 7.72089 10.9114 7.35214 10.255 6.69577C9.59861 6.03939 9.22986 5.14915 9.22986 4.22089C9.22986 3.29264 9.59861 2.4024 10.255 1.74602C10.9114 1.08964 11.8016 0.720894 12.7299 0.720894ZM5.72986 3.22089C6.28986 3.22089 6.80986 3.37089 7.25986 3.64089C7.10986 5.07089 7.52986 6.49089 8.38986 7.60089C7.88986 8.56089 6.88986 9.22089 5.72986 9.22089C4.93421 9.22089 4.17115 8.90482 3.60854 8.34221C3.04593 7.77961 2.72986 7.01654 2.72986 6.22089C2.72986 5.42524 3.04593 4.66218 3.60854 4.09957C4.17115 3.53696 4.93421 3.22089 5.72986 3.22089ZM19.7299 3.22089C20.5255 3.22089 21.2886 3.53696 21.8512 4.09957C22.4138 4.66218 22.7299 5.42524 22.7299 6.22089C22.7299 7.01654 22.4138 7.77961 21.8512 8.34221C21.2886 8.90482 20.5255 9.22089 19.7299 9.22089C18.5699 9.22089 17.5699 8.56089 17.0699 7.60089C17.9299 6.49089 18.3499 5.07089 18.1999 3.64089C18.6499 3.37089 19.1699 3.22089 19.7299 3.22089ZM6.22986 13.4709C6.22986 11.4009 9.13986 9.72089 12.7299 9.72089C16.3199 9.72089 19.2299 11.4009 19.2299 13.4709V15.2209H6.22986V13.4709ZM0.729858 15.2209V13.7209C0.729858 12.3309 2.61986 11.1609 5.17986 10.8209C4.58986 11.5009 4.22986 12.4409 4.22986 13.4709V15.2209H0.729858ZM24.7299 15.2209H21.2299V13.4709C21.2299 12.4409 20.8699 11.5009 20.2799 10.8209C22.8399 11.1609 24.7299 12.3309 24.7299 13.7209V15.2209Z" fill="#CD8050"/>
</svg>

        <strong>Klas</strong>


      </a>
    </li>
    {{/each}}

    <li
    {{#ifEquals 'dossier' actSidebar }}
      class="sidebar__item active"
      {{ else }}
      class="sidebar__item"
    {{/ifEquals}}
    >
      
    <a href="/dossier">
       <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M20 6H14.41C14.1477 5.9989 13.8963 5.89474 13.71 5.71L12.29 4.29C12.1037 4.10526 11.8523 4.0011 11.59 4H4C2.89543 4 2 4.89543 2 6V18C2 19.1046 2.89543 20 4 20H20C21.1046 20 22 19.1046 22 18V8C22 6.89543 21.1046 6 20 6Z" fill="#CD8050"/>
</svg>

        <strong>Dossier</strong>
      </a>
    </li>
      
       <li
    {{#ifEquals 'feedback' actSidebar }}
      class="sidebar__item active"
      {{ else }}
      class="sidebar__item"
    {{/ifEquals}}
    >

      <a href="/feedback">
       <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M5 19.5C5 19.7761 4.77614 20 4.5 20H2.5C2.22386 20 2 19.7761 2 19.5V10.5C2 10.2239 2.22386 10 2.5 10H4.5C4.77614 10 5 10.2239 5 10.5V19.5ZM20 10H15L16.55 6.89C16.8649 6.27145 17.0196 5.58381 17 4.89V4.5C17 3.67157 16.3284 3 15.5 3H15.36C15.1469 3.00158 14.9582 3.13808 14.89 3.34L14.29 5.12C14.1038 5.67547 13.6835 6.12139 13.14 6.34L12.71 6.51C11.9251 6.83174 11.2606 7.39127 10.81 8.11L9.59 10.11C9.22377 10.696 8.581 11.0514 7.89 11.05H7V19.05H7.59C8.48702 19.0373 9.35291 19.3786 10 20C10.639 20.6396 11.5059 20.9993 12.41 21H18.65C19.466 20.9967 20.1981 20.4981 20.5 19.74L21.57 17.07C21.8526 16.3604 21.9985 15.6038 22 14.84V12C22 10.8954 21.1046 10 20 10Z" fill="#CD8050"/>
</svg>

        <strong>Feedback</strong>
      </a>      
    </li>

 <li
    {{#ifEquals 'afwezigheden' actSidebar }}
      class="sidebar__item active"
      {{ else }}
      class="sidebar__item"
    {{/ifEquals}}
    >
      <a href="/afwezigheden">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M19 4H18V2.5C18 2.22386 17.7761 2 17.5 2H16.5C16.2239 2 16 2.22386 16 2.5V4H8V2.5C8 2.22386 7.77614 2 7.5 2H6.5C6.22386 2 6 2.22386 6 2.5V4H5C3.89543 4 3 4.89543 3 6V19C3 20.1046 3.89543 21 5 21H19C20.1046 21 21 20.1046 21 19V6C21 4.89543 20.1046 4 19 4ZM19 19H5V8H19V19ZM11.5 12H12.5C12.7761 12 13 11.7761 13 11.5V10.5C13 10.2239 12.7761 10 12.5 10H11.5C11.2239 10 11 10.2239 11 10.5V11.5C11 11.7761 11.2239 12 11.5 12ZM15.5 12H16.5C16.7761 12 17 11.7761 17 11.5V10.5C17 10.2239 16.7761 10 16.5 10H15.5C15.2239 10 15 10.2239 15 10.5V11.5C15 11.7761 15.2239 12 15.5 12ZM7.5 12H8.5C8.77614 12 9 11.7761 9 11.5V10.5C9 10.2239 8.77614 10 8.5 10H7.5C7.22386 10 7 10.2239 7 10.5V11.5C7 11.7761 7.22386 12 7.5 12ZM11.5 16H12.5C12.7761 16 13 15.7761 13 15.5V14.5C13 14.2239 12.7761 14 12.5 14H11.5C11.2239 14 11 14.2239 11 14.5V15.5C11 15.7761 11.2239 16 11.5 16ZM7.5 16H8.5C8.77614 16 9 15.7761 9 15.5V14.5C9 14.2239 8.77614 14 8.5 14H7.5C7.22386 14 7 14.2239 7 14.5V15.5C7 15.7761 7.22386 16 7.5 16Z" fill="#CD8050"/>
</svg>

        <strong>Afwezigheden</strong>
      </a>
    </li>
    <li class="sidebar__logout">
      <form action="/logout" method="post">
        <button type="submit" class="btn btn-primary button-base">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M8 17.5C8 17.7761 7.77614 18 7.5 18H6.5C6.22386 18 6 17.7761 6 17.5V6.50001C6 6.22386 6.22386 6.00001 6.5 6.00001H7.5C7.77614 6.00001 8 6.22386 8 6.50001V17.5ZM18 6.57001C17.9972 6.30397 17.8573 6.0582 17.63 5.92001L17.51 5.86001C17.2671 5.70088 16.9529 5.70088 16.71 5.86001L9.34 11.07C9.14074 11.2094 9.02146 11.4368 9.02 11.68V12.3C9.02146 12.5432 9.14074 12.7706 9.34 12.91L16.71 18.09C16.9529 18.2491 17.2671 18.2491 17.51 18.09L17.63 18.03C17.8588 17.8932 17.9992 17.6466 18 17.38V6.57001Z" fill="#CD8050"/>
</svg>

          <strong>Logout</strong>
        </button>
      </form>
    </li>
  </ul>
</sidebar>